.navbar .container-fluid {
    background-color: #5174ad;
    margin-bottom: 0;
}

.navbar-default .navbar-nav>.active>a {
    background: #5174ad none !important;
    color: #f7f7f7;
    box-shadow: none;
}

.navbar-default .navbar-nav>.active>a:hover {
    color: #f7f7f7;
    font-weight: bold;
}

.navbar .navbar-brand, .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: #f7f7f7;
    font-size: 1.7em;
}

.question-preview {
    padding: 0;
}

.question-preview-header {
    padding: 10px 15px;
    background-color: #5174ad;
    color: white;
    align-content: center;
}

.question-preview-id {
    font-size: 0.9em;
    font-style: italic;
    display: inline;
    float: right;
}

.question-preview-title {
    display: inline;
}

.question-preview-body {
    padding: 15px 15px;
    background-color: #f7f7f7;
    color: #1832a5;
}

.question-preview-content {
    font-size: 1.2em;
}

.question-preview-timestamp {
    font-size: 0.9em;
    font-style: italic;
    display: inline;
    float: right;
}

#new-question-container, #new-answer-container {
    align-content: center;
    text-align: center;
}

#new-question-button, #new-answer-button {
    background-color: #5174ad;
    border: 0;
    border-radius: 5px;
    color: #f7f7f7;
    padding: 10px 15px;
    margin: 20px 0;
    font-size: 1.3em;
    font-weight: bold;
}

#question-title-box, #question-content-box, #answer-content-box, #answer-title-box {
    padding: 5px 10px;
    margin: 10px;
    border: 1px solid #1832a5;
    border-radius: 3px;
}

#question-title-box, #answer-title-box {
    text-align: center;
    margin-top: 0;
}

#question-content-box, #answer-content-box {
    resize: none;
}

#new-question-submission-box, #new-answer-submission-box {
    display: none;
    margin-bottom: 20px;
    text-align: center;
}

#submit-new-question-button, #submit-new-answer-button {
    background-color: #5174ad;
    border: 0;
    border-radius: 5px;
    color: #f7f7f7;
    padding: 10px 15px;
    font-size: 1.2em;
    font-weight: bold;
}

#ask-button-container, #answer-button-container {
    align-content: center;
    text-align: center;
}

.question-anchor, .question-anchor:hover {
    text-decoration: none;
    color: #f7f7f7;
}