<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: head"></head>
<body>
    <nav th:replace="header :: nav"></nav>
    <div class="container">
        <div class="row question-preview well">
            <div class="question-preview-header">
                <p class="question-preview-id" th:text="'#' + ${question.id}"></p>
                <h2 class="question-preview-title" th:text="${question.title}"></h2>
            </div>
            <div class="question-preview-body">
                <p class="question-preview-content" th:text="${question.content}"></p>
                <p class="question-preview-timestamp" th:text="${question.timestamp}"></p>
            </div>
        </div>
        <div id="answer-button-container">
            <button id="new-answer-button">Answer this question</button><br />
        </div>
        <div class="new-answer-container">
            <form method="post" th:action="'/questions/'+${question.id}+'/answer'" id="new-answer-form">
                <div id="new-answer-submission-box">
                    <input name="new-answer-title" id="answer-title-box" placeholder="Enter the title of your answer..." size="72" /><br />
                    <textarea name="new-answer-content" id="answer-content-box" placeholder="Enter your answer..." rows="15" cols="75"></textarea><br />
                    <input type="submit" id="submit-new-answer-button" value="Submit" />
                </div>
            </form>
        </div>
        <div class="answers row">
            <div th:each="answer : ${question.answerList}" class="answer-container container">
                <div class="row answer-header">
                    <h3 class="answer-title" th:text="${answer.title}"></h3>
                    <p class="answer-id" th:text="${answer.id}"></p>
                </div>
                <div class="row answer-body">
                    <p class="answer-content" th:text="${answer.content}"></p>
                    <p class="answer-timestamp" th:text="${answer.timestamp}"></p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>