<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: head"></head>
<body>
    <nav th:replace="header :: nav(${user})"></nav>

    <div class="container index-content">
        <div th:if="${user}" id="ask-button-container">
            <button id="new-question-button">Ask a new question</button><br />
        </div>
        <div id="new-question-container">
            <form method="post" action="/submit-new-question" id="new-question-form">
                <div id="new-question-submission-box">
                    <input name="new-question-title" id="question-title-box" placeholder="Enter the title of your question..." size="72" /><br />
                    <textarea name="new-question-content" id="question-content-box" placeholder="Enter your question..." rows="15" cols="75"></textarea><br />
                    <input type="submit" id="submit-new-question-button" value="Submit" />
                </div>
            </form>
        </div>
        <div class="questions">
            <div class="question-preview well" th:each="question, iterStat : ${questions}">
                <div class="question-preview-header">
                    <p class="question-preview-id" th:text="'#' + ${question.id}"></p>
                    <a class="question-anchor" th:href="'/questions/'+${question.id}">
                        <h2 class="question-preview-title" th:text="${question.title}"></h2>
                    </a>
                </div>
                <div class="question-preview-body">
                    <p class="question-preview-content" th:text="${question.content}"></p>
                    <p class="question-preview-timestamp" th:text="${question.timestamp}"></p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>