<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: head"></head>
<body>
    <nav th:replace="header :: nav(${user})"></nav>
    <div class="container form-container">
        <form class="login-form" action="/login" method="POST">
            <div class="form-fieldset">
                <label class="form-label">Email address</label>
                <input type="text" class="form-input" name="email" placeholder="Email address" required>
            </div>
            <div class="form-fieldset">
                <label class="form-label">Password</label>
                <input id="password" type="password" class="form-input" name="password" placeholder="Password" required>
            </div>
            <input type="submit" value="Login">
        </form>
    </div>

</body>
</html>